body{
	margin: 0;
	padding: 0;
}
.theme{
	background-color:#ffcf10;
}
.error{
	margin-left: 7px;
	color:red;
}

.layout{
	margin-top: 9px;
	display: block;
	float: left;
}

.login-state{
	color: #FFFFFF;
	line-height: 50px;
	margin-left: 40px;
	display: block;
	float: left;
}

.user{
	color: #FFFFFF;
	line-height: 50px;
	margin-left: 10px;
	display: block;
	float: left;
}

.routeInfo{
	margin-top: 100px;
}

.routeInfo_below{
	padding: 4px;
	height: 180px;
}

.departure{
	display: block;
	float: left;
}

.direction_img img{
	width: 730px;
	height:60px;
	margin-top: 60px;
	display: block;
	float: left;
}

.destination{
	display: block;
	float: left;
}

.sub_title{
	margin: 10px 200px;
}

.form_bg{
	padding: 30px;
}

.CountNum{
	position: absolute;
	top: 240px;
	left: 500px;
}

.CountNum h5{
	display: block;
	position: relative;
	bottom: 27px;
	left: 110px;
}

.price{
	position: absolute;
	top: 240px;
	left: 850px;
}

.price h5{
	display: block;
	position: relative;
	bottom: 27px;
	left: 40px;
}
